/*
 * File Name: retrieve-reservation.css
 * Author: CodeCraft
 * Content: retrieve reservation styles
 */

/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("../../styles/main/toast.css");
:root {
  --brand-yellow: #ffdd07;
  --brand-pink: #e3007e;
  --brand-orange: #f1921f;
  --text-dark: #3d3c3c;
  --text-light: #fafafa;
  --success-color: #34c724;
  --brand-gradient: linear-gradient(to right, #e3007e 0%, #f1921f 50%, #ffdd07 100%);
  --main-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--text-light);
}
#toast-container {
  top: 20px;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5rem;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--text-dark);
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.code-group .code-inputs {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.code-group .code-inputs input {
  width: 40px;
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* hide arrow in input type number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Firefox */
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* WebKit-based browsers */
}

.submit-btn {
  background: linear-gradient(to right, var(--brand-pink), var(--brand-yellow));
  color: var(--text-light);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  margin: 0 100px;
}

.submit-btn:hover {
  background: linear-gradient(to right, var(--brand-yellow), var(--brand-pink));
  box-shadow: 0 4px 10px rgba(255, 111, 97, 0.5);
  transform: scale(1.03);
}

@media (max-width: 440px) {
  .submit-btn {
    min-width: max-content;
  }
  .input-group input {
    width: 70%;
  }

  .code-group .code-inputs input {
    width: 20px;
    height: 30px;
  }
}
