/*
 * File Name: navbar.css
 * Author: CodeCraft
 * Content: navbar styles
 */

/* Navbar styles */
.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #fff; /* Sfondo bianco */
  color: #333; /* Testo grigio scuro */
  border-bottom: 1px solid #ddd;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-size: x-small;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  max-height: 40px;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 1.5rem;
}

.navbar-hamburger {
  display: block;
  width: 25px;
  height: 2px;
  background: #333;
  position: relative;
}

.navbar-hamburger::before,
.navbar-hamburger::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #333;
  position: absolute;
  left: 0;
}

.navbar-hamburger::before {
  top: -7px;
}

.navbar-hamburger::after {
  bottom: -8px;
}

/* Change hamburger icon when navbar is open */
.navbar-hamburger.open {
  background: transparent;
}

.navbar-hamburger.open::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-hamburger.open::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* Navbar menu */
.navbar-menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  border-top: 1px solid #00000083;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar-menu.open {
  display: flex;
}

/* Navbar switches (Filtro daltonismo e Tema Chiaro/Scuro) */
.navbar-switches {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px 0 20px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch-input {
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #333; /* Colore del bordo */
  border-radius: 50%;
  appearance: none; /* hide the default checkbox style */
  --webkit-appearance: none; /* hide the default checkbox style (safari)*/
  cursor: pointer;
  margin-right: 10px;
}

.switch-input:checked {
  background-color: #333;
  border: 2px solid #ffdd07;
}

/* Menu Voices */
.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #00000083;
}

.navbar-item:last-child {
  border-bottom: none;
}

.navbar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  padding: 0 20px;
}

.navbar-arrow {
  margin-left: auto;
  width: 20px;
  height: 20px;
}
