/*
 * File Name: newsletter.css
 * Author: CodeCraft
 * Content: newsletter styles
 */

#newsletter-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  scroll-margin-top: 60px;
}

.newsletter-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

#newsletter-highlight {
  color: orange;
}

#newsletter-text-info {
  font-size: 1em;
  font-size: medium;
}

#newsletter-email-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form-name-surname-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.newsletter-form-input,
#newsletter-email {
  border-radius: 10px;
  height: 5vh;
  border: 2px solid #3d3c3c;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-size: medium;
  padding-left: 15px;
  margin-top: 15px;
  width: 100%;
}

#newsletter-checkbox {
  margin-top: 2vh;
  border: 2px solid #3d3c3c;
}

.newsletter-containerBTN {
  display: flex;
  justify-content: flex-end;
}

#newsletter-submit {
  margin-top: 2vh;
  height: 4vh;
  width: 35%;
  position: relative;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#newsletter-submit:hover {
  background-color: #e3007d;
  color: white;
}
#newsletter-submit:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #e3007e, #f1921f, #ffdd07);
}

/* Tablet */
@media (min-width: 769px) {

  #newsletter-container {
    padding: 32px 48px ;

  }

  #newsletter-email-form {
    padding: 32px 128px;
    
  }
}

/* Desktop */
@media (min-width: 1200px) {

  #newsletter-container {
    padding: 90px 300px ;

  }

  #newsletter-email-form {
    padding: 0px ;
    
  }
  .newsletter-text-form-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .newsletter-titles-container{
    display: flex;
    
  }

 .newsletter-title{
  margin: 0 5px 25px 5px;

 }
 

  #newsletter-text-info{
   width: 50%;
   margin-right: 30px;
  }




}