.visit-container {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 1.5rem;
  color: var(--text-dark);
  font-weight: 500;
}

.visit-container > * {
  margin: 0;
}

.visit-section-title {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  background: var(--brand-gradient);
  background-clip: text; /*prop. standard */
  -webkit-background-clip: text; /* prop. con prefisso per compatibilità */
  color: transparent; /*  mostrare il gradiente nel testo */
  -webkit-text-fill-color: transparent; /*  compatibilità con browser basati su WebKit */
  /* margin-top: 2vh; */
  /* margin-bottom: 0.5vh; */
}

.visit-section-explore-activities span {
  font-weight: bold;
}

.visit-section-explore-activities {
  width: 80%;
  text-align: center;
  margin-top: 2vh;
}

.visit-section-explore-activities{
/* width: 80%; */
text-align: center ;
/* margin-top: 2vh; */
}

/* Media Query */

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .visit-section-title {
    font-size: 1.8rem;
  }

  .visit-section-explore-activities {
    width: 80%;
    font-size: 1rem;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .visit-section-title {
    font-size: 2rem;
  }
  .visit-section-explore-activities {
    width: 100%;
    font-size: 1.2rem;
  }
}
