/*
 * File Name: style.css
 * Author: CodeCraft
 * Content: css files import
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@import "../node_modules/swiper/swiper-bundle.min.css";

@import "./styles/navbar.css";
@import "./styles/heroSection.css";
@import "./styles/visitSection.css";
@import "./styles/forms.css";
@import "./styles/offersSection.css";
@import "./styles/newsletter.css";
@import "./styles/faqSection.css";
@import "./styles/footer.css";
@import "./styles/accessibilityFilters.css";
@import "./styles/activitiesSection.css";


/* custom properties */

:root {
  --brand-yellow: #ffdd07;
  --brand-pink: #E3007E;
  --brand-orange: #F1921F;
  --text-dark: #3d3c3c;
  --text-light: #FAFAFA;
  --success-color: #34C724;
  --brand-gradient: linear-gradient(to right, #e3007e 0%, #f1921f 50%, #ffdd07 100%);
  --main-font: 'Montserrat', sans-serif;
}

/* Universal styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--text-light);
  padding-top: 6rem; /* Header height */
}
