/*
 * File Name: style.css
 * Author: CodeCraft
 * Content: css files import
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@import "../node_modules/swiper/swiper-bundle.min.css";

@import "./styles/main/navbar.css";
@import "./styles/main/heroSection.css";
@import "./styles/main/visitSection.css";
@import "./styles/main/forms.css";
@import "./styles/main/offersSection.css";
@import "./styles/main/newsletter.css";
@import "./styles/main/faqSection.css";
@import "./styles/main/footer.css";
@import "./styles/main/accessibilityFilters.css";
@import "./styles/main/activitiesSection.css";

/* custom properties */
:root {
  --brand-yellow: #ffdd07;
  --brand-pink: #e3007e;
  --brand-orange: #f1921f;
  --text-dark: #3d3c3c;
  --text-light: #fafafa;
  --success-color: #34c724;
  --brand-gradient: linear-gradient(to right, #e3007e 0%, #f1921f 50%, #ffdd07 100%);
  --main-font: "Montserrat", sans-serif;
}

/* Universal styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--text-light);
  padding-top: 6rem; /* Header height */
}

.bg-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 65%); */
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
