/*
 * File Name: newsletter.css
 * Author: CodeCraft
 * Content: newsletter styles
 */

#newsletter-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  font-family: var(--main-font);
  scroll-margin-top: 60px;
}

.newsletter-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
  color: var(--text-dark);
}

#newsletter-highlight {
  color: orange;
}

#newsletter-text-info {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  color: var(--text-dark);
}

#newsletter-email-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form-name-surname-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.newsletter-form-input,
#newsletter-email {
  border-radius: 0.625rem;
  padding: 0.65rem 1rem;
  border: 2px solid var(--text-dark);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  color: var(--text-dark);
}

.newsletter-checkbox-container {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.newsletter-checkbox-container label {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-dark);
}

#newsletter-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  margin-top: 0.25rem;
  cursor: pointer;
  flex-shrink: 0;
}

.newsletter-containerBTN {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

#newsletter-submit {
  padding: 0.75rem 2.5rem;
  /* position: relative; */
  /* background-clip: padding-box; */
  /* border: solid 2px transparent; */
  border-radius: 0.625rem;
  font-weight: 700;
  font-size: 1.25rem;
  border: 2px solid var(--brand-pink);
  font-family: var(--main-font);
  background-color: var(--text-light);
  color: var(--text-dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#newsletter-submit:hover {
  /* background: var(--brand-gradient);
  background-size: cover;
  background-repeat: no-repeat; */
  color: var(--text-light);
  background-color: var(--brand-pink);
}

/* #newsletter-submit:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, #e3007e, #f1921f, #ffdd07);
} */

/* Media Queries */

/* Mobile Large */
@media (min-width: 500px) and (max-width: 768px) {

  #newsletter-container {
    padding: 2.5rem 2rem ;
  }

  .newsletter-title {
    font-size: 1.65rem;
  }

  #newsletter-email-form {
    max-width: 28.125rem; 
    margin: 0 auto;
  }

  #newsletter-text-info {
    font-size: 1.05rem;
    margin: 1.25rem 0;
  }  

  .newsletter-form-name-surname-container {
    margin-bottom: 0.85rem;
    gap: 0.75rem;
  }

  .newsletter-checkbox-container {
    margin-top: 1.25rem;
    gap: 0.5rem;
  }

  .newsletter-checkbox-container label {
    font-size: 0.8rem;
  }

  .newsletter-containerBTN {
    padding-top: 1.25rem;
  }

}

/* Tablet */
@media (min-width: 769px) {

  #newsletter-container {
    padding: 3.5rem 3rem ;
  }

  .newsletter-title {
    font-size: 2rem;
    display: inline-block;
  }

  #newsletter-email-form {
    max-width: 30rem; 
    margin: 0 auto;
  }

  #newsletter-text-info {
    font-size: 1.15rem;
    margin: 1.5rem 0 3rem;
  }  

  .newsletter-form-name-surname-container {
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .newsletter-checkbox-container {
    margin-top: 1.25rem;
    gap: 0.75rem;
  }

  .newsletter-checkbox-container label {
    font-size: 0.85rem;
  }

  #newsletter-checkbox {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.15rem;
  }

  .newsletter-containerBTN {
    padding-top: 2rem;
  }

  #newsletter-submit {
    padding: 0.75rem 3rem;
  }

}

/* Desktop */
@media (min-width: 1200px) {

  #newsletter-container {
    padding: 4.5rem 11rem ;
  }

  .newsletter-titles-container {
    margin-bottom: 3rem;
  }

  .newsletter-title {
    font-size: 2.25rem;
    display: inline-block;
  }

  .newsletter-text-form-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  #newsletter-email-form {
    max-width: 30rem; 
    width: 65%;
    margin: 0 auto;
  }

  #newsletter-text-info {
    font-size: 1.35rem;
    width: 45%;
    margin: 0;
    padding: 0.5rem 2.5rem 0 0;
  }

  .newsletter-form-name-surname-container {
    margin-bottom: 1.25rem;
    gap: 1.25rem;

  }

  .newsletter-form-input,
  #newsletter-email {
    padding: 0.75rem 1.25rem;
    font-size: 1.1rem;
  }

  .newsletter-checkbox-container {
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .newsletter-checkbox-container label {
    font-size: 0.95rem;
  }

  #newsletter-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.15rem;
  }

  .newsletter-containerBTN {
    padding-top: 3rem;
  }

  #newsletter-submit {
    border-radius: 1rem;
    padding: 0.9rem 4rem;
    font-size: 1.5rem;
    border-width: 3px;
  }

}

/* Media Queries */

/* Mobile Large */
@media (min-width: 500px) and (max-width: 768px) {

}

/* Tablet */
@media (min-width: 769px) and (max-width: 1200px) {



}

/* Desktop */
@media (min-width: 1201px) {

}

@media (min-width: 1500px) {
  #newsletter-container {
    padding: 5.5rem 16rem ;
  }
}

@media (min-width: 1900px) {
  #newsletter-container {
    padding: 6.5rem 34rem ;
  }

  .newsletter-title {
    font-size: 2.5rem;
  }

  #newsletter-text-info {
    font-size: 1.5rem;
  }
}
