html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--text-light);
  }

.container {
    width: 100%;
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
}


.text-container {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}